<!-- templates/registration/register_employee.html -->
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register as Employee</title>
    <link rel="stylesheet" href="{% static 'assets/css/signup.css' %}">
</head>
<body>
    <div class="form-container">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            
            {% for field in user_form %}
                <div class="form-row">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            
            {% for field in employee_form %}
                <div class="form-row">
                    {{ field.errors }}
                    {{ field.label_tag }} {{ field }}
                </div>
            {% endfor %}
            
            <button type="submit">Register as Employee</button>
        </form>
    </div>
</body>
</html>
